encryption = "gpg"

[gpg]
    recipient = "adrien.lecharpentier@gmail.com"

[data]
    jira_username = "alecharpentier@cloudbees.com"

[git]
    autoadd = true
    autocommit = false
    autopush = false

[add]
    secrets = "error"

[diff]
    pager = "less"
