[user]
  name = Adrien Lecharpentier
  email = adrien.lecharpentier@gmail.com
  signingkey = DE9A280C8EF8A788C8A7A17D4C70D6E1B912711B

[includeIf "gitdir:~/workspaces/cloudbees/"]
  path = "~/.gitconfig_work"

[alias]
  br = "branch"
  ci = "commit"
  amend = "commit --amend --no-edit"
  fix = "commit --fixup"

  st = "status -u"
  s = "status -su --branch"

  co = "checkout"
  sw = "switch"
  l = "log --graph --pretty=custom"
  ll = "log --stat --abbrev-commit"
  lc = "shortlog --summary --numbered"

  di = "diff"
  cp = "cherry-pick"

[color]
  ui = auto
[color "status"]
  added = "green"
  changed = "yellow"
  untracked = "white"
  ignored = "blue"
[color "diff"]
  meta = "yellow"

[column]
  ui = "auto"

[commit]
  gpgsign = true
  cleanup = "strip"

[core]
  editor = "nvim"
  autocrlf = false
  filemode = true
  ignorecase = false
  excludesfile = "~/.gitignore"
  trustctime = false

[diff]
  colorMoved = default
  submodule = log
  wordRegex = "[A-Za-z0-9]+|[^[:space:]]"

[fetch]
  prune = true
  pruneTags = true
  fsckobjects = true

[init]
  defaultBranch = "main"

[log]
  date = "format:%a %b %-d %Y @ %-I:%M %p"

[pretty]
  custom = "%C(magenta)%h%C(red)%d %C(brightblue)%ar %C(green)%s %C(brightblue)(%an)"

[pull]
  rebase = merges

[push]
  autoSetupRemote = true
  default = upstream
  followTags = true

[rebase]
  autosquash = true
  autostash = true

[rerere]
  enabled = true
  autoupdate = true

{{ if lookPath "opscore" -}}
[secrets]
  providers = opscore security run git-secrets-provider -q
{{ end -}}

[status]
  aheadBehind = true
  showUntrackedFiles = normal

[submodule]
  recurse = true

[tag]
  gpgsign = true
