export JIRA_USERNAME="{{ .jira_username }}"
export JIRA_AUTH_TYPE="basic"
export JIRA_API_TOKEN="{{ if eq .chezmoi.os "darwin" }}{{ output "security" "find-generic-password" "-s" "chezmoi-jira-api-token" "-w" | trim }}{{ else }}{{ output "secret-tool" "lookup" "service" "chezmoi-jira-api-token" "username" .jira_username | trim }}{{ end }}"
